/*
Modals
*/
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300,100);

.huge {
    font-size: 30pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.semi-huge {
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    min-width:960px;
    background: white;
    background-image: radial-gradient(rgba(9, 113, 170, 1), rgba(20, 34, 72, 1));
    color: #333;
    font-size: 14px;
    /*font-family: Verdana, sans-serif;*/
    font-family: Roboto, sans-serif;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:link, a:visited {
    color: #257bb2;
}

a:hover {
    color: #004471;
}

a.btn-success:link, a.btn-success:visited, a.btn-success:hover {
    color: white;
}

p {
    margin-bottom: 1.4em;
}

header {
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 2%;
    color: white;
}

#cyverseLogo_white {
    background: url(../images/cyverse_auth_logo.png) no-repeat scroll;
    background-size: contain;
    height: 92px;
}

h2 {
    min-height: 45px;
    width: 100%;
    color: #fff;
    font-family: Roboto,'lato', sans-serif;
    padding-left: 20px;
    font-weight: 300;
}


h3 {
    font-weight: normal;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#logo {
    display: block;
    background: url(../images/apereo-logo.png) no-repeat;
    text-indent: -999em;
    float: left;
    height: 100px;
    width: 80%;
    margin-right: 40px;
    border: 0px;
    color: white;
}

#content {
    background: #fff;
    padding: 20px;
    border-radius: 2px;
}

#loadingMessage {
    font-size: 1.4rem;
}

#serviceui.serviceinfo {
    border: 1px dotted #0066FF;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
}

#servicedesc {
    vertical-align: middle;
    padding-left: 30px;
    width: 90%;
}

.modal {
    display: none;
}

@media screen and (min-width: 960px) {
    #container {
        width: 960px;
    }
    #cyverseLogo_white {
        margin-left: 2%;
    }
}

@media screen and (min-width: 1280px) {
    #ssosessions-page #container {
        width: 1280px;
    }
}

@media only screen and (max-width: 960px) {
    header {
        padding: 20px;
    }

    #container {
        width: 100%;
    }

    #content {
        border-radius: 0px;
        padding: 0;
    }
}

@media only screen and (max-width: 855px) {
    #logo {
        display: none;
    }

    header h1 {
        width: 100%;
        min-height: 45px;
    }

    #login {
        float: none;
        width: 100%;
    }

    #fm1 .row input[type=text],
    #fm1 .row input[type=password] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    #fm1 .row .btn-submit {
        outline: none;
        border: 0;
        background: #7CB342;
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 10px 20px;
        border-radius: 2px;
    }

    #fm1 .row .btn-reset {
        display: none;
    }

    #sidebar {
        margin-top: 20px;
    }

    #sidebar .sidebar-content {
        padding: 0;
    }
}

/*
 * Since switching to the Bootstrap alerts, has this become depricated?
 */
#msg {
    margin-bottom: 40px;
    border: 1px dotted #eeeeee;
    padding: 20px 20px 20px 100px;
    background-repeat: no-repeat;
    background-position: 20px center;
}

#msg .errors {
    border-color: #BB0000;
    color: #BB0000;
    background-image: url(../images/error.png);
}

#msg .success {
    border-color: #390;
    color: #390;
    background-image: url(../images/success.png);
}

#msg .info {
    border-color: #008;
    color: #008;
    background-image: url(../images/info.png);
}

#msg .question {
    border-color: #390;
    color: #390;
    background-image: url(../images/question.png);
}

#msg .warn {
    border-color: #960;
    color: #960;
    background: #ffbc8f url(../images/info.png);
}

.errors {
    border: 1px dotted #BB0000;
    color: #BB0000;
    padding-left: 100px;
    padding-top: 5px;
    margin-bottom: 5px;
    background: url(../images/error.png) no-repeat 20px center;
}

/*
Modals
*/
/*
 * CAS default overrides
 */
.login #content {
    background: transparent;
}

#login {
    padding: 30px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: top;
}

#login .login-header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: -30px;
    margin-bottom: 10px;
}

#login .login-header h2 {
    font-weight: 300;
    color: black;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
}

#login .login-header .fa-circle {
    color: #1490b3;
}

#login form > h2 {
    display: none;
}

#login .row {
    margin: 20px 0;
}

#login label {
    display: block;
    margin-bottom: 2px;
}

#login .check label {
    display: inline;
}

#login input[type=text], #login input[type=password] {
    font-size: 1.82rem;
    padding: 5px;
    width: 100%;
}

#login .btn-row {
    text-align: center;
}

#login .btn-reset {
    display: none;
}

#login .btn-reset:hover {
    cursor: pointer;
    background: #d4d4d4;
}

#login #yubiKeyForm > h2 {
    display: block;
}

#login #yubiKeyForm .btn-reset {
    display: inline-block;
}

#capslock-on {
    color: firebrick;
}

#sidebar {
    width: auto;
}

#list-providers ul {
    list-style: none;
}

#list-providers ul li {
    list-style: none;
    margin-bottom: 1em;
}

#list-providers a.btn:link, #list-providers a.btn:visited {
    color: white;
}

#list-languages h3, #list-providers h3 {
    margin-bottom: 1.4em;
}

#list-languages ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}

#notices h2 f {
    font-size: 1.75rem;
}

#notices p {
    font-size: 1.33rem;
}

#notices ul.list-group .fa {
    margin-right: 7px;
}

#notices #serviceui h2, #notices #serviceui h3, #notices #serviceui h4 {
    margin-top: 0;
}

#notices .well h3 {
    margin-top: 0;
    font-size: 1.75rem;
}

#notices .well ul.list-group {
    margin-bottom: 0;
}

footer {
    padding: 20px;
    color: white;
}

footer a:link, footer a:visited {
    color: white;
}

/**
 * Add in our own custom social colors.
 */
.btn-submit {
    background-color: #0971AB;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.btn-submit:focus, .btn-submit.focus {
    color: #fff;
    background-color: #6CC1EC;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-submit:hover {
    color: #fff;
    background-color: #6CC1EC;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-submit:active, .btn-submit.active,
.open > .btn-submit.dropdown-toggle {
    color: #fff;
    background-color: #57BFDC;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-submit:active:hover, .btn-submit:active:focus, .btn-submit:active.focus, .btn-submit.active:hover, .btn-submit.active:focus, .btn-submit.active.focus,
.open > .btn-submit.dropdown-toggle:hover,
.open > .btn-submit.dropdown-toggle:focus,
.open > .btn-submit.dropdown-toggle.focus {
    color: #fff;
    background-color: #065C89;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-submit:active, .btn-submit.active,
.open > .btn-submit.dropdown-toggle {
    background-image: none;
}

.btn-submit.disabled:hover, .btn-submit.disabled:focus, .btn-submit.disabled.focus, .btn-submit[disabled]:hover, .btn-submit[disabled]:focus, .btn-submit[disabled].focus,
fieldset[disabled] .btn-submit:hover,
fieldset[disabled] .btn-submit:focus,
fieldset[disabled] .btn-submit.focus {
    background-color: #70ba61;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-submit .badge {
    color: #70ba61;
    background-color: #fff;
}

.btn-submit {
    border: 0;
    padding: 10px 25px;
    font-weight: normal;
    font-size: 1.75rem;
}

.btn-cas {
    background-color: #153e50;
    color: #fff;
    background-color: #153e50;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-cas:focus, .btn-cas.focus {
    color: #fff;
    background-color: #0a1f28;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-cas:hover {
    color: #fff;
    background-color: #0a1f28;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-cas:active, .btn-cas.active,
.open > .btn-cas.dropdown-toggle {
    color: #fff;
    background-color: #0a1f28;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-cas:active:hover, .btn-cas:active:focus, .btn-cas:active.focus, .btn-cas.active:hover, .btn-cas.active:focus, .btn-cas.active.focus,
.open > .btn-cas.dropdown-toggle:hover,
.open > .btn-cas.dropdown-toggle:focus,
.open > .btn-cas.dropdown-toggle.focus {
    color: #fff;
    background-color: #03090b;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-cas:active, .btn-cas.active,
.open > .btn-cas.dropdown-toggle {
    background-image: none;
}

.btn-cas.disabled:hover, .btn-cas.disabled:focus, .btn-cas.disabled.focus, .btn-cas[disabled]:hover, .btn-cas[disabled]:focus, .btn-cas[disabled].focus,
fieldset[disabled] .btn-cas:hover,
fieldset[disabled] .btn-cas:focus,
fieldset[disabled] .btn-cas.focus {
    background-color: #153e50;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-cas .badge {
    color: #153e50;
    background-color: #fff;
}

.btn-saml2 {
    background-color: #cb2027;
    color: #fff;
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-saml2:focus, .btn-saml2.focus {
    color: #fff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-saml2:hover {
    color: #fff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-saml2:active, .btn-saml2.active,
.open > .btn-saml2.dropdown-toggle {
    color: #fff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-saml2:active:hover, .btn-saml2:active:focus, .btn-saml2:active.focus, .btn-saml2.active:hover, .btn-saml2.active:focus, .btn-saml2.active.focus,
.open > .btn-saml2.dropdown-toggle:hover,
.open > .btn-saml2.dropdown-toggle:focus,
.open > .btn-saml2.dropdown-toggle.focus {
    color: #fff;
    background-color: #801419;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-saml2:active, .btn-saml2.active,
.open > .btn-saml2.dropdown-toggle {
    background-image: none;
}

.btn-saml2.disabled:hover, .btn-saml2.disabled:focus, .btn-saml2.disabled.focus, .btn-saml2[disabled]:hover, .btn-saml2[disabled]:focus, .btn-saml2[disabled].focus,
fieldset[disabled] .btn-saml2:hover,
fieldset[disabled] .btn-saml2:focus,
fieldset[disabled] .btn-saml2.focus {
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-saml2 .badge {
    color: #cb2027;
    background-color: #fff;
}

.btn-oidc {
    background-color: #f7931e;
    color: #fff;
    background-color: #f7931e;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-oidc:focus, .btn-oidc.focus {
    color: #fff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-oidc:hover {
    color: #fff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-oidc:active, .btn-oidc.active,
.open > .btn-oidc.dropdown-toggle {
    color: #fff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-oidc:active:hover, .btn-oidc:active:focus, .btn-oidc:active.focus, .btn-oidc.active:hover, .btn-oidc.active:focus, .btn-oidc.active.focus,
.open > .btn-oidc.dropdown-toggle:hover,
.open > .btn-oidc.dropdown-toggle:focus,
.open > .btn-oidc.dropdown-toggle.focus {
    color: #fff;
    background-color: #b86607;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-oidc:active, .btn-oidc.active,
.open > .btn-oidc.dropdown-toggle {
    background-image: none;
}

.btn-oidc.disabled:hover, .btn-oidc.disabled:focus, .btn-oidc.disabled.focus, .btn-oidc[disabled]:hover, .btn-oidc[disabled]:focus, .btn-oidc[disabled].focus,
fieldset[disabled] .btn-oidc:hover,
fieldset[disabled] .btn-oidc:focus,
fieldset[disabled] .btn-oidc.focus {
    background-color: #f7931e;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-oidc .badge {
    color: #f7931e;
    background-color: #fff;
}

.btn-restart {
    color: #fff;
    background-color: #2d872d;
    border-color: #277427;
}

.btn-restart:focus, .btn-restart.focus {
    color: #fff;
    background-color: #206120;
    border-color: #071407;
}

.btn-restart:hover {
    color: #fff;
    background-color: #206120;
    border-color: #174617;
}

.btn-restart:active, .btn-restart.active,
.open > .btn-restart.dropdown-toggle {
    color: #fff;
    background-color: #206120;
    border-color: #174617;
}

.btn-restart:active:hover, .btn-restart:active:focus, .btn-restart:active.focus, .btn-restart.active:hover, .btn-restart.active:focus, .btn-restart.active.focus,
.open > .btn-restart.dropdown-toggle:hover,
.open > .btn-restart.dropdown-toggle:focus,
.open > .btn-restart.dropdown-toggle.focus {
    color: #fff;
    background-color: #174617;
    border-color: #071407;
}

.btn-restart:active, .btn-restart.active,
.open > .btn-restart.dropdown-toggle {
    background-image: none;
}

.btn-restart.disabled:hover, .btn-restart.disabled:focus, .btn-restart.disabled.focus, .btn-restart[disabled]:hover, .btn-restart[disabled]:focus, .btn-restart[disabled].focus,
fieldset[disabled] .btn-restart:hover,
fieldset[disabled] .btn-restart:focus,
fieldset[disabled] .btn-restart.focus {
    background-color: #2d872d;
    border-color: #277427;
}

.btn-restart .badge {
    color: #2d872d;
    background-color: #fff;
}

.btn-refresh {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-refresh:focus, .btn-refresh.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}

.btn-refresh:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-refresh:active, .btn-refresh.active,
.open > .btn-refresh.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-refresh:active:hover, .btn-refresh:active:focus, .btn-refresh:active.focus, .btn-refresh.active:hover, .btn-refresh.active:focus, .btn-refresh.active.focus,
.open > .btn-refresh.dropdown-toggle:hover,
.open > .btn-refresh.dropdown-toggle:focus,
.open > .btn-refresh.dropdown-toggle.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.btn-refresh:active, .btn-refresh.active,
.open > .btn-refresh.dropdown-toggle {
    background-image: none;
}

.btn-refresh.disabled:hover, .btn-refresh.disabled:focus, .btn-refresh.disabled.focus, .btn-refresh[disabled]:hover, .btn-refresh[disabled]:focus, .btn-refresh[disabled].focus,
fieldset[disabled] .btn-refresh:hover,
fieldset[disabled] .btn-refresh:focus,
fieldset[disabled] .btn-refresh.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-refresh .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-shutdown {
    color: #fff;
    background-color: #c74b47;
    border-color: #bb3d39;
}

.btn-shutdown:focus, .btn-shutdown.focus {
    color: #fff;
    background-color: #a83733;
    border-color: #5a1d1b;
}

.btn-shutdown:hover {
    color: #fff;
    background-color: #a83733;
    border-color: #8d2e2b;
}

.btn-shutdown:active, .btn-shutdown.active,
.open > .btn-shutdown.dropdown-toggle {
    color: #fff;
    background-color: #a83733;
    border-color: #8d2e2b;
}

.btn-shutdown:active:hover, .btn-shutdown:active:focus, .btn-shutdown:active.focus, .btn-shutdown.active:hover, .btn-shutdown.active:focus, .btn-shutdown.active.focus,
.open > .btn-shutdown.dropdown-toggle:hover,
.open > .btn-shutdown.dropdown-toggle:focus,
.open > .btn-shutdown.dropdown-toggle.focus {
    color: #fff;
    background-color: #8d2e2b;
    border-color: #5a1d1b;
}

.btn-shutdown:active, .btn-shutdown.active,
.open > .btn-shutdown.dropdown-toggle {
    background-image: none;
}

.btn-shutdown.disabled:hover, .btn-shutdown.disabled:focus, .btn-shutdown.disabled.focus, .btn-shutdown[disabled]:hover, .btn-shutdown[disabled]:focus, .btn-shutdown[disabled].focus,
fieldset[disabled] .btn-shutdown:hover,
fieldset[disabled] .btn-shutdown:focus,
fieldset[disabled] .btn-shutdown.focus {
    background-color: #c74b47;
    border-color: #bb3d39;
}

.btn-shutdown .badge {
    color: #c74b47;
    background-color: #fff;
}

/**
 * Items that need a home
 */
.row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#alertBox {
    display: none;
}
